<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:3000/">My Lexicon</a>
    <form action="http://localhost:3000/words" method="get" class="d-flex" role="search">
      <button class="btn btn-outline-success" type="submit">My Words</button>
      </form>
  </div>
</nav>