:root {
  --font-family-header: 'EB Garamond', serif !important;
}

body,
html {
  font-family: var(--font-family-header);

  overflow-x: hidden;
  scroll-behavior: smooth;

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.word-html-body {
  display: flex;
  align-items: flex-start;
}

.index {
  height: auto;
  width: 37%;
}

.word {
  position: relative;
  top: 5rem;
}

.definition {
  max-width: 60ch;
}

.see-through-nav {
  background-color: rgba(255, 255, 255, 0) !important;
  position: absolute;
  top: 0;
  left: 0;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: black;
  /* font-family: monospace; */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /*Gives that scrolling effect as the typing happens*/
  letter-spacing: 0.5em; /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
  animation: typing 1.5s steps(50, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
