<%- include('partials/head.ejs') %> 
  <body class="d-flex justify-content-center align-items-center vh-100">
    <main class="index container">
      <h1 class="display-1">
        <p
          class="typewrite"
          data-period="2000"
          data-type='[ "Welcome to My Lexicon!", "Improve Your Vocabulary.", "Learn Through Practice.", "Develop Lifelong Skills." ]'
        >
          My Lexicon
        </p>
      </h1>

      <form id="searchbar" method="get" action="http://localhost:3000/words">
        <div class="input-group">
          <input
            id="word"
            type="text"
            class="form-control"
            placeholder="Enter Word to Learn"
            aria-label="Enter a word"
            aria-describedby="addButton"
            name="word"
            spellcheck="true"
          />
          <button
            class="btn btn-outline-secondary searchbar-button"
            type="submit"
            id="search"
          >
            Practice
          </button>
        </div>
      </form>
     
    </main>
    <!-- Typewrite Effect Script -->
    <script src="/js/bootstrap/bootstrap.min.js" defer></script>
    <script src="/js/typewriter.js" defer></script>
    <script  src="/js/index/app.js" defer></script>
  </body>
</html>
